@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,300;0,700;1,300&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #bfbfc9 #ebeaf0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ebeaf0;
}

*::-webkit-scrollbar-thumb {
  background-color: #bfbfc9;
  border-radius: 10px;
  border: 3px solid #ebeaf0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  height: 100vh;
}
#__next {
  height: 100vh;
  background: rgb(255, 255, 255);

  animation: AnimateBG 15s infinite ease-in-out;
  background-size: 300% 300%;
  background-image: radial-gradient(circle, rgba(254, 246, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
@keyframes AnimateBG {
  0% {
    background-position: bottom left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: bottom left;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#prizePin {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
}

#moreContent {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 18pt;
  color: #f7a072;
  opacity: 0.5;

  animation: showMore 3.5s infinite linear;
}
@keyframes showMore {
  0% {
    top: -50px;
    opacity: 0.65;
  }
  25% {
    opacity: 0.35;
  }
  50% {
    top: -60px;
    opacity: 0.65;
  }
  75% {
    opacity: 0.35;
  }
  100% {
    top: -50px;
    opacity: 0.65;
  }
}
