.footer {
  position: fixed;
  bottom: -1px;
  width: 100%;
  text-align: center;
  padding: 3px;
  pointer-events: none;
  background-color: #fef6c9;
  border-radius: 35px;

  span {
    pointer-events: visible;
  }
}

#jeramai {
  // position: relative;
  &:hover {
    animation: jeramai-background 2s linear infinite;
    background: linear-gradient(to right, #af1c22, #353a47, #f7a072, #af1c22);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
}
@keyframes jeramai-background {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.removeButton {
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: firebrick;
  }
}
